*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
 
  
}
.helpButton{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}
.modalStyle{
  width: fit-content;
  height: fit-content;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(182, 174, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(138, 104, 170);
}